<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5bvLChSRxjzq8UJFteuYR1D9XaI8ow6A</string>
	<key>GCM_SENDER_ID</key>
	<string>256286425555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polamgh.ali.AzadiTunnel</string>
	<key>PROJECT_ID</key>
	<string>azadi-tunnel-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>azadi-tunnel-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256286425555:ios:2d4749b4c83348fae9af26</string>
</dict>
</plist>