{
  "ClientVersion": "453",
  "ServerEntrySignaturePublicKey": "sHuUVTWaRyh5pZwy4UguSgkwmBe0EHtJJkoF5WrxmvA=",
  "ExchangeObfuscationKey": "",
  "RemoteServerListURLs": [],
  "RemoteServerListSignaturePublicKey": "",
  "ObfuscatedServerListRootURLs": []
}
